<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>小洣粒儿o0</title>
<link rel="stylesheet" href="module/layui/css/layui.css" />
<link rel="stylesheet" href="css/home.css"/>
</head>
<body>
	<p style="margin-bottom: 20px; text-align: center;">
      <img src="images/hello.png" />
    </p>
	
	<div class="tools">
	 <input type="file" name="file" lay-ext="xlsx|xls" lay-type="file" class="layui-upload-file" lay-title="原数据上传(只支持*.xlsx/xls)"/>
	 <button class="layui-btn" onclick = "deleteData()">清空所有数据</button>
	 <button class="layui-btn" onclick = "combine()">合并数据下载</button>
	 <button class="layui-btn" onclick = "combine()">合并数据下载</button>
	</div>
	<form action="combine" id="form2" hidden="hidden" method="post" ></form>
</body>

<!-- layer引入 -->
<script type="text/javascript" src="module/layui/layui.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>
</html>